.background {
    top: 10%;
    width: 80%;
    background-image: url('./smokey-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 60em;
    color: white;
}

.bannerImg {
    width: 100%;
    display: block;
    size: cover;
    overflow: hidden;
    position: relative;
    align-content: center;
}

.headerDiv {
    background-color: rgb(80,99,126);
    color: rgba(255, 255, 255, .6);
    padding: .5em;
    margin-bottom: 1em;
}

#sendEmailBtn {
    background-color: rgb(80,99,126);
}

.modalBkg {
    background-color: rgb(52,58,64);
    color: white;
}

.modalBkgLight {
    background-color: rgba(255,255,255, .4);
    color: black;
}