/* Styling for NewChoose page */
.Container-NC{
    background-image: url(../components/NewChoose/CODlandscapeimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
    }
    .card-contentNC:hover{
    /* opacity: 0.5; */
    transition-duration: 0.5s;
    background-color: black;
    color: white;
    
    } 

    .card-contentNC{
    background-color:rgba(146, 145, 142, 0.356);
    color:black;
    }
/*     
    .NC-card{
        margin-bottom: 15%;
        box-shadow: 0px 0px 20px 10px rgb(7, 7, 7);

    } */


 /* Styling for New Tournament Page    */
    .Container-NT{
        background-image: url(../components/NewChoose/tournamentbracketlayout.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        
        }

        .card-NT{
            background-color: rgb(12, 11, 11);
            box-shadow: 0px 0px 20px 10px rgb(245, 240, 240);
          
        }

 