.body{
    margin:10%;
    color: black !important;
} 

/* .tournamentNameHead {
    color: black;
} */
.backgroundTD{
    background-image: url(./parallaxgreybg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;

}